<!-- Used by theme-bio-builtin-2 -->

<div class="sixteen wide column no-bottom">
  <h3 class="ui left aligned header no-bottom">Interests | Skills</h3>
  <hr style="margin: 0px;">
</div>

{% if site.data.bio.interests %}
  <div class="four wide left aligned column">
  {% for entry in site.data.bio.interests %}
    {% capture number %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if number == 'odd' %}
      <p class="ui no-bottom">
        <b>
        {{ entry.name }}{% if entry.organization and (entry.organization != "") %}, {{ entry.organization }}{% endif %}
        </b>
      </p>
      <p class="ui no-bottom"><a href="{{ entry.website }}" target="_blank">{{ entry.website | remove: "http://" | remove: "https://" }}</a></p>

      <p class="ui no-bottom">{{ entry.summary }}</p>
      {% if entry.highlights %}
        <ul style="margin: 0.5rem; padding-inline-start: 10%;">
          {% for highlight in entry.highlights %}
            <li>{{ highlight }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
  {% endfor %}
  </div>
  <div class="four wide left aligned column">
  {% for entry in site.data.bio.interests %}
    {% capture number %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if number == 'even' %}
      <p class="ui no-bottom">
        <b>
        {{ entry.name }}{% if entry.organization and (entry.organization != "") %}, {{ entry.organization }}{% endif %}
        </b>
      </p>
      <p class="ui no-bottom"><a href="{{ entry.website }}" target="_blank">{{ entry.website | remove: "http://" | remove: "https://" }}</a></p>

      <p class="ui no-bottom">{{ entry.summary }}</p>
      {% if entry.highlights %}
        <ul style="margin: 0.5rem; padding-inline-start: 10%;">
          {% for highlight in entry.highlights %}
            <li>{{ highlight }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
  {% endfor %}
  </div>
{% endif %}

{% if site.data.bio.skills %}
  <div class="four wide left aligned column">
  {% for entry in site.data.bio.skills %}
    {% capture number %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if number == 'odd' %}
      <p class="ui no-bottom">
        <b>{{ entry.name }}</b>
      </p>
      <p class="ui no-bottom"><a href="{{ entry.url }}" target="_blank">{{ entry.website | remove: "http://" | remove: "https://" }}</a></p>

      <p class="ui no-bottom">{{ entry.summary }}</p>
      {% if entry.keywords %}
        {% if entry.keywords.size > 5 %}
        <ul style="margin: 0.5rem; columns: 2; -webkit-columns: 2; -moz-columns: 2; padding-inline-start: 10%;">
          {% for keyword in entry.keywords %}
            <li>{{ keyword }}</li>
          {% endfor %}
        </ul>
        {% else %}
        <ul style="margin: 0.5rem; padding-inline-start: 10%;">
          {% for keyword in entry.keywords %}
            <li>{{ keyword }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
  </div>
  <div class="four wide left aligned column">
  {% for entry in site.data.bio.skills %}
    {% capture number %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if number == 'even' %}
      <p class="ui no-bottom">
        <b>{{ entry.name }}</b>
      </p>
      <p class="ui no-bottom"><a href="{{ entry.url }}" target="_blank">{{ entry.website | remove: "http://" | remove: "https://" }}</a></p>

      <p class="ui no-bottom">{{ entry.summary }}</p>
      {% if entry.keywords %}
        <ul style="margin: 0.5rem;">
          {% for keyword in entry.keywords %}
            <li>{{ keyword }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
  {% endfor %}
  </div>
{% endif %}
