<!-- Used by theme-bio-builtin-1 -->

{% if site.data.bio.references %}
<div class="row">
  <div class="two wide column">
    <h3 class="ui left aligned header no-bottom">References</h3>
  </div>

  <div class="fourteen wide column no-bottom">
    <p class="ui no-bottom">
    {% for entry in site.data.bio.references %}
      <b>{{ entry.name }}</b>
      {% if entry.reference and entry.reference.size > 0 %}
        <em>{{ entry.reference }}</em>
      {% endif %}
      {% if entry.website %}
        <p class="ui no-bottom"><a href="{{ entry.website }}" target="_blank">{{ entry.website | remove: "http://" | remove: "https://" }}</a></p>
      {% endif %}
    {% endfor %}
    </p>
  </div>
</div>
{% endif %}
