<style>

  .codesnippet {
    margin: 15px 0 15px 0;
    overflow: auto;
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
    max-height: 400px;
    background: white;
    padding: 10px;
  }

</style>


<div style="padding-top: 20px" class="ui container ">

  <div class="ui stackable centered four cards">
    {% assign essay_pages = site.pages | where: "type", "essay" | sort: "date" | reverse %}
      {% for page in essay_pages %}
        {% unless page.draft %}
          {% include essay-card.html page=page %}
        {% endunless %}
      {% endfor %}
  </div>
</div>
